
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inconsolata', monospace;
}

.main-contenair header{
    background-color: rgb(26, 59, 122,1);
    padding-bottom: .5rem;
}

.main-contenair .header{
    display: flex;
    justify-content: space-between;
}

.main-contenair .header .symbole{
    color: rgb(26, 59, 122,1);
    background-color: #fff;
    text-transform: uppercase;
    font-size: .7rem;
    padding: 5px 40px;
}

.main-contenair .header .btn-menu{
    background-color: rgb(26, 59, 122,1);
    color: #fff;
    text-transform: uppercase;
    font-size: .7rem;
    padding: 7px 40px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 1rem;
}

.main-contenair .header .fiche{
    background-color: rgb(26, 59, 122,1);
    color: #fff;
    text-transform: uppercase;
    font-size: .7rem;
    padding: 5px 0;
    border: 1px solid #fff;
    text-align: center;
    font-size: .8rem;
}


.main-contenair .header .btn{
    text-transform: capitalize;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #d75e5e;
    cursor: pointer;
}
.main-contenair .header .btn i{
    color: #d75e5e;
    background-color: #fff; 
    margin-left: 0.8rem; 
}

.main-contenair .header h2{
    color: #fff;
    text-transform: uppercase;
}

.main-contenair  .second-section-header{
    display: flex;
    justify-content: center;
    margin: 2rem auto 0;
    /* padding-bottom: 2rem; */
}


.main-contenair  .second-section-header ul{
    list-style: none;
    display: flex;
   
}

.main-contenair  .second-section-header ul li{
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: rgb(26, 59, 122,1);
    color: #fff;
    margin: 0.1rem;
    padding: 7px 90px;
}


.main-contenair  .second-section-header .active{
    background-color: #fff;
}

.main-contenair  .second-section-header .active a{
    color: rgb(26, 59, 122,1);
}



.main-contenair  .second-section-header ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
}

.date_inventaire{
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: rgb(26, 59, 122,1);
    color: #fff;
    margin: 0.5rem 10px 2px;
    padding: 7px 90px;
}


/* -=================== * bouton hors champ *===================- */

.btn-champ{
    border: 1px solid #fff;
    border-radius: 3px;
    line-height: normal;
    margin-left: .4rem;
    padding: 5px;
}

.btn-champ a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    margin: .4rem;
}


table{
	border: 1px solid black;
	border-collapse: collapse;
    margin: 5px auto 10px;
    width: 100%;
}

table, td{
 	border: 2px solid #fff;
    padding: 10px;	
    background: rgba(238,238,238,1);
    color: rgba(26,59,122,1);
    text-align: center;
    text-transform: uppercase;
    /* width: 100%; */
 }

 th{
    padding: 10px;
    border: 2px solid #fff;
    text-align: center;	
 }

 .first-head{
    background: rgba(26,59,122,1);
    color: #fff;   
 }

 /* ---==========================* RESPONSIVE *=========================== */
 @media (min-width: 992px) { 
    body{}
 }

